<ngb-carousel>
    <ng-template ngbSlide>
        <img src="assets/blue1.jpg" alt="first slide" width="1380px" height="560px">
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
            <img src="assets/blue2.jpg" alt="Second slide" width="1380px" height="560px">
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
            <img src="assets/blue3.jpg" alt="third slide" width="1380px" height="560px">
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
            <img src="assets/blue4.jpg" alt="fourt slide" width="1380px" height="560px">
        <div class="carousel-caption">
        </div>
    </ng-template>
    <ng-template ngbSlide>
            <img src="assets/blue5.jpg" alt="fifth slide" width="1380px" height="560px">
        <div class="carousel-caption">
        </div>
    </ng-template>
</ngb-carousel>